Project_files/main_board/*.PrjPcbStructure
Project_files/main_board/History*
Project_files/main_board/Project Logs*
Project_files/main_board/*Previews*
Project_files/main_board/*.Annotation*
Libraries/*.cmp